
<div layout="row" layout-fill ng-cloak>
    <section layout="column" flex layout-align="center center" class="login">
        <md-card class="md-whiteframe-4dp authenticate-card">
            <md-toolbar>
                <div layout="column" layout-padding layout-align="center center">
                    <div class="md-headline md-padding">Login</div>
                </div>
            </md-toolbar>
            <md-card-content>
                <form ng-submit="login()" name="loginForm">
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input type="text" ng-model="user.email" ng-required="true">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" ng-model="user.password" ng-required="true">
                    </md-input-container>

                    <div layout="row" layout-align="center center">
                        <md-button type="submit" ng-disabled="loginForm.$invalid" class="md-raised md-accent" flex="50">Login</md-button>
                    </div>
                 </form>
            </md-card-content>
        </md-card>
    </section>
</div>
